# Make train candidates

To mimic the set up of the test set

In [8]:
import pandas as pd
import random
import numpy as np
import os

# Load the data
train_data = pd.read_csv('train.csv')
print(train_data.head())

  left right
0  aaa   osr
1  aaz   mqw
2  abh   cdx
3  abn   uzp
4  abq   bbd

In [10]:
# Prepare columns
columns_names = ['left'] + ['c'+str(i) for i in range(20)]
print(columns_names)

['left', 'c0', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13', 'c14', 'c15', 'c16', 'c17', 'c18', 'c19']

In [66]:
# Get all file names in train/all folder
all_files = np.array([str(x.split('.')[0]) for x in os.listdir('train/all')])
# Get number of unique elements
unique = np.unique(all_files)
print(unique.shape, all_files.shape)

(4000,) (4000,)

all files are unique

In [64]:
records = []

for i in range(len(train_data)):
    left = train_data['left'][i]
    right = train_data['right'][i]
    
    # get 19 random elemnts of all_files except left and right
    idx = np.where((all_files != left) & (all_files != right))[0]
    candidates = all_files[np.random.choice(idx, 19, replace=False)].astype(str)
    candidates = np.concatenate((np.array([right]), candidates))
    # shuffle the candidates
    random.shuffle(candidates)

    # Create a record
    record = [left] + candidates.tolist()
    records.append(record)

df = pd.DataFrame(data=records, columns=columns_names)
df.head()

,left,c0,c1,c2,c3,c4,c5,c6,c7,c8,...,c10,c11,c12,c13,c14,c15,c16,c17,c18,c19
0,aaa,ufk,ljz,sga,yqh,pjg,psw,vrg,rfi,mys,...,nis,osr,qqr,kei,zdr,nkb,bjy,wjw,ant,oir
1,aaz,mqw,znv,yci,cnz,xas,lve,zhb,czz,sax,...,utw,hri,htw,nrc,dha,xpf,dsg,rum,wdr,ndz
2,abh,six,eqp,jxp,tpn,kov,dga,auw,zvk,tdp,...,uvn,mnh,btj,cdx,umy,ajn,pwt,efv,til,tww
3,abn,jkz,ydq,pfl,fkq,jhn,ucy,adn,mie,dyo,...,dvv,kic,npi,clo,rbv,fus,qgo,kef,uzp,kzb
4,abq,ndj,pjy,zqr,vsk,jon,pke,jlk,wtb,arf,...,fbp,uud,unu,jgm,rjy,isv,dco,kfi,ezq,nzs

In [67]:
# Check the correct image is in the dataframe
try:
    for i in range(len(train_data)):
        if not train_data['right'][i] in df.iloc[i].values:
            raise Exception('Error: missing true image on index', i)
    print('All good!')    
except:
    print('Process terminated')

All good!

In [68]:
# Write dataset to csv
df.to_csv('train_candidates.csv', index=False)